/* Font-family for the web-page */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    height: 100%;
}
header {
    margin-bottom: 2px;
    background-color: #23272f;
    color: white;
    font-family: 'Abril Fatface';
    
}

.logo{
    font-size: 2em;
    border: grey;
    font-style: italic;
    letter-spacing: 2px;
   
}

.logo_design{
    color: white;
    
}

nav{
    margin-bottom: 2px;
    background-color: #23272f;
    color: white;
}

/*Frequently used*/
hr {
    border-top: 3px solid #DAA520;
    width: 30%;
}

/*For setting padding in columns*/
.paddingimg {
    padding-left: 0px;
    padding-right: 0px;
}


/*Navbar*/

.navbar-brand #logo-normal {
    height: 70px;
    display:block;
}

.navbar-brand #logo-phone {
    display: none;
}

.navbar-light .navbar-toggler-icon{
    
}
.navbar {
    padding: 0 1rem;
    border-bottom: 3px solid white;
    outline: 2px solid 	white;
    box-shadow: 0 0 8px 0 rgba(255, 253, 253, 0.8);
    
}

.navbar-nav li {
    padding-right: 25px;
}

.navbar .navbar-nav .nav-link:focus, 
.navbar .navbar-nav {
    color: white;
    font-weight: 500;
}


.navbar .navbar-nav .nav-item .active {
    color: #ffffff;
    font-weight: 500;
}


.navbar-collapse {
    text-align: center;
  }

  /*Footer*/

  footer {
      background-color: #23272f ;
      padding-top: 2rem;
      color: #FFFFFF;
      border-top: 3px solid white;
      outline: 2px solid white;
      
  }
  
  #footer-logo img {
      height: 90px;
      padding-bottom: .3rem;
  }

  .motto p {
    font-size: 12px;
}

  .contacticon p i {

    color: white;
  }


  #socket {
    border-top: 1px solid white;
    padding: .3rem 0;
  }


  


/*Particles */
canvas{
    display:block;
    vertical-align:bottom;
  }
  
  
  /* ---- stats.js ---- */
  
  .count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }
  
  
  /* ---- particles.js container ---- */
  
  #particles-js{
    width: 100%;
    height: 100%;
    background-color: #23272f;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  


  

/*Hero Section*/
.hero {
    background-color: #23272f;
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px 0 rgba(0,0,0,1);
    margin-bottom: 2rem;
}

.hero div h1 {
    color: 	 #23272f;
}

.hero div h4 {
    color: #FFFFFF;
    padding-bottom: 1rem;
}
/*Services page------------------------------------------------------------------------------------------------------------------------*/

.bordertopgold {
    border-top: 3px solid #f8f8f7;
}



.noborder{
    border-color: transparent !important;
}

.servicesfooter {
    margin-top: 5px;
}

.marginbutton p button {
    margin-top: 30px;
}


/*-------------------------------------------------------------------------------------------------------------------------------------*/

/*About page---------------------------------------------------------------------------------------------------------------------------*/

.text-center h1 {
    margin-top: 1 rem;
}

.text-center button {
    margin-top: 30px;
    margin-bottom: 30px;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/

/*Media Queries*/

@media (max-width: 480px) {

.navbar-brand #logo-normal {
        display:none;
    }
    
.navbar-brand #logo-phone {
        height: 70px;
        display: block;
    }
 
.resizeimg {
        width: 97%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    } 

form img {
        width: 12%;
        height: auto;
    }



}

@media (min-width: 480px) and  (max-width: 767px) {

    .resizeimg {
        width: 95%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    } 

    form img {
        width: 6%;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .resizeimg {
        width: 95%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    } 

    form img {
        width: 5%;
        height: auto;
    }
    
}

